.searchresult-card {
    background: #fff;
    margin-top: 8px;
    padding: 16px;
  }

  .column-heading {
    flex-basis: 50%;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .resultcard-content {
    display: flex;
    margin-top: 16px;
  }